ops >= 2.2.0
toml
loadbalancer-interface
pydantic==1.*
cosl == 0.0.5
charm-lib-contextual-status @ git+https://github.com/charmed-kubernetes/charm-lib-contextual-status@main
charm-lib-reconciler @ git+https://github.com/charmed-kubernetes/charm-lib-reconciler@main
ops.interface_tls_certificates @ git+https://github.com/charmed-kubernetes/interface-tls-certificates@main#subdirectory=ops
interface_hacluster @ git+https://github.com/charmed-kubernetes/charm-interface-hacluster@main
